<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('map_bp.index') }}">🚗 Zoochacha</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">회원가입</a>
            </li>
            <!-- 로그인/로그아웃 버튼 -->
            {% if session['user'] %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">로그아웃</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">로그인</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
